<!--
  Step 1: The form must be sharable between the new and edit views.
-->

<form action="<%= (typeof actionPath === 'undefined') ? '/characters' : actionPath %>", method="POST">
  <% if (typeof actionPath !== 'undefined') { %>
      <input type="hidden" name="id" value="<%= formData.id %>">
  <% } %>
  <h3>General</h3>
  <hr>
  

  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" name="name" class="form-control" value="<%= formData.name %> ">
  </div>

  <div class="form-group">
    <label for="gender">Gender:</label>
    <select name="gender" class="form-control">
        <option value="">---Select Gender---</option>
        <option <%= formData.gender && formData.gender === 'MALE' ? 'selected' : null %>  value="MALE">Male</option>
        <option <%= formData.gender && formData.gender === 'FEMALE' ? 'selected' : null %> value="FEMALE">Female</option>
        <option <%= formData.gender && formData.gender === 'NONE' ? 'selected' : null %> value="NONE">None</option>
    </select>
  </div>

  <div class="form-group">
    <label for="race">Race:</label>
    <select name="race" class="form-control">
        <option value="">---Select Race---</option>
        <option <%= formData.race && formData.race === 'HUMAN' ? 'selected' : null %>  value="HUMAN">Human</option>
        <option <%= formData.race && formData.race === 'ELF' ? 'selected' : null %> value="ELF">Elf</option>
        <option <%= formData.race && formData.race === 'DWARF' ? 'selected' : null %> value="DWARF">Dwarf</option>
    </select>
  </div>

  <div class="form-group">
    <label for="class">Class:</label>
    <select id="classDrop" name="class" class="form-control">
        <option value="">---Select Class---</option>
        <option <%= formData.class && formData.class ==='FIGHTER' ? 'selected' : null %>  value="FIGHTER">Fighter</option>
        <option <%= formData.class && formData.class === 'MAGE' ? 'selected' : null %> value="MAGE">Mage</option>
        <option <%= formData.class && formData.class === 'RANGER' ? 'selected' : null %> value="RANGER">Ranger</option>
    </select>
  </div>

  <div class="form-group">
    <label for="origin">Origin:</label>
    <select name="origin" class="form-control">
        <option value="">---Select Origin---</option>
        <option <%= formData.origin && formData.origin === 'HERO' ? 'selected' : null %>  value="HERO">Hero</option>
        <option <%= formData.origin && formData.origin === 'SCHOLAR' ? 'selected' : null %> value="SCHOLAR">Scholar</option>
        <option <%= formData.origin && formData.origin === 'CRIMINAL' ? 'selected' : null %> value="CRIMINAL">Criminal</option>
    </select>
  </div>

  <hr>
  <h3>Stats</h3>
  <hr>
  <!-- forgive my gratuitous use of &nbsp;, my css skils are weak :( -->
  <div class="stats" style="padding-left: 15%; padding-top: 2%; padding-bottom: 2%;">
    &nbsp;&nbsp;&nbsp;
    <label for="str">STR:</label>
    <input class="str" type="number" name="str" max="20" value="<%= formData.str %>">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="int">INT:</label>
    <input class="int" type="number" name="int" max="20" value="<%= formData.int %>">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="dex">DEX:</label>
    <input class="dex" type="number" name="dex" max="20" value="<%= formData.dex %>">
    <br>
    <br>
    &nbsp;
    <label for="con">CON:</label>
    <input class="con" type="number" name="con" max="20" value="<%= formData.con %>">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="cha">CHA:</label>
    <input class="cha" type="number" name="cha" max="20" value="<%= formData.cha %>">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="luc">LUC:</label>
    <input class="luc" type="number" name="luc" max="20" value="<%= formData.luc %>">
  </div>
  <br>
  <div style="width: 8%; margin: 0 auto;">
    <button class="btn btn-danger" type="button" id="roll">Roll Stats</button>
  </div>
  <br>
  <hr>
  <h3>Skills/Equipment</h3>
  <hr>
 
  <div class="form-group">
    <label for="mainSkill">Main Skill:</label>
    <select id="mainSkillSelect" name="mainSkill" class="form-control">
      <option value="">---Select Skill---</option>
      <optgroup label="Fighter Skills">
        <option <%= formData.mainSkill && formData.mainSkill === 'SLASH' ? 'selected' : null %> value="SLASH">Slash</option>
        <option <%= formData.mainSkill && formData.mainSkill === 'SHIELD BASH' ? 'selected' : null %> value="SHIELD BASH">Shield Bash</option>
      </optgroup>
      <optgroup label="Mage Skills">
        <option <%= formData.mainSkill && formData.mainSkill === 'FIRE BALL' ? 'selected' : null %> value="FIRE BALL">Fire Ball</option>
        <option <%= formData.mainSkill && formData.mainSkill === 'ICE BLAST' ? 'selected' : null %> value="ICE BLAST">Ice Blast</option>
      </optgroup>
      <optgroup label="Ranger Skills">
        <option <%= formData.mainSkill && formData.mainSkill === 'BACKSTAB' ? 'selected' : null %> value="BACKSTAB">Backstab</option>
        <option <%= formData.mainSkill && formData.mainSkill === 'MULTISHOT' ? 'selected' : null %> value="MULTISHOT">Multishot</option>
      </optgroup> 
    </select>
  </div>

  
  <div class="form-group">
    <label for="secSkill">Secondary Skill:</label>
    <select id="secSkillSelect" name="secSkill" class="form-control">
      <option value="">---Select Skill---</option>
      <optgroup label="Fighter Skills">
        <option <%= formData.secSkill && formData.secSkill === 'DEFEND' ? 'selected' : null %> value="DEFEND">Defend</option>
        <option <%= formData.secSkill && formData.secSkill === 'PROVOKE' ? 'selected' : null %> value="PROVOKE">Provoke</option>
      </optgroup>
      <optgroup label="Mage Skills">
        <option <%= formData.secSkill && formData.secSkill === 'DETECT MAGIC' ? 'selected' : null %> value="DETECT MAGIC">Detect Magic</option>
        <option <%= formData.secSkill && formData.secSkill === 'HEAL' ? 'selected' : null %> value="HEAL">Heal</option>
      </optgroup>
      <optgroup label="Ranger Skills">
        <option <%= formData.secSkill && formData.secSkill === 'STEAL' ? 'selected' : null %> value="STEAL">Steal</option>
        <option <%= formData.secSkill && formData.secSkill === 'SNEAK' ? 'selected' : null %> value="SNEAK">Defend</option>
      </optgroup> 
    </select>
  </div>

  <div class="form-group">
    <label for="weapon">Weapon:</label>
    <select id="weaponSelect" name="weapon" class="form-control">
      <option value="">---Select Weapon---</option>
      <optgroup label="Fighter Weapons">
        <option <%= formData.weapon && formData.weapon === 'SWORD AND SHIELD' ? 'selected' : null %> value="SWORD AND SHIELD">Sword and Shield</option>
        <option <%= formData.weapon && formData.weapon === 'TWO-HANDED AXE' ? 'selected' : null %> value="TWO-HANDED AXE">Two-Handed Axe</option>
      </optgroup>
      <optgroup label="Mage Weapons">
        <option <%= formData.weapon && formData.weapon === 'STAFF' ? 'selected' : null %> value="STAFF">Staff</option>
        <option <%= formData.weapon && formData.weapon === 'WAND' ? 'selected' : null %> value="WAND">Wand</option>
      </optgroup>
      <optgroup label="Ranger Weapons">
        <option <%= formData.weapon && formData.weapon === 'BOW' ? 'selected' : null %> value="BOW">Bow</option>
        <option <%= formData.weapon && formData.weapon === 'DAGGERS' ? 'selected' : null %> value="DAGGERS">Daggers</option>
      </optgroup>
    </select>
  </div>

  <div class="form-group">
    <label for="armor">Armor:</label>
    <select id="armorSelect" name="armor" class="form-control">
      <option value="">---Select Armor---</option>
      <optgroup label="Figher Armor">
        <option <%= formData.armor && formData.armor === 'PLATE MAIL' ? 'selected' : null %> value="PLATE MAIL">Plate Mail</option>
        <option <%= formData.armor && formData.armor === 'CHAIN MAIL' ? 'selected' : null %> value="CHAIN MAIL">Chain Mail</option>
      </optgroup>
      <optgroup label="Mage Armor">
        <option <%= formData.armor && formData.armor === 'ROBE' ? 'selected' : null %> value="ROBE">Robe</option>
        <option <%= formData.armor && formData.armor === 'CLOAK' ? 'selected' : null %> value="CLOAK">Cloak</option>
      </optgroup>
      <optgroup label="Ranger Armor">
        <option <%= formData.armor && formData.armor === 'LEATHER' ? 'selected' : null %> value="LEATHER">Leather</option>
        <option <%= formData.armor && formData.armor === 'SCALE' ? 'selected' : null %> value="SCALE">Scale</option>
      </optgroup>
    </select>
  </div>

  <hr>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

</form>