<!--
  Step 1: The form must be sharable between the new and edit views.
-->

<form action="<%= (typeof actionPath === 'undefined') ? '/characters' : actionPath %>", method="POST">
  <% if (typeof actionPath !== 'undefined') { %>
      <input type="hidden" name="id" value="<%= formData.id %>">
  <% } %>
  <h3>General</h3>
  <hr>
  

  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" name="name" class="form-control" value="<%= formData.name %> ">
  </div>

  <div class="form-group">
    <label for="gender">Gender:</label>
    <select name="gender" class="form-control">
        <option value="">---Select Gender---</option>
        <option <%= formData.gender && formData.gender === 'Male' ? 'selected' : null %>  value="Male">Male</option>
        <option <%= formData.gender && formData.gender === 'Female' ? 'selected' : null %> value="Female">Female</option>
        <option <%= formData.gender && formData.gender === 'None' ? 'selected' : null %> value="None">None</option>
    </select>
  </div>

  <div class="form-group">
    <label for="race">Race:</label>
    <select name="race" class="form-control">
        <option value="">---Select Race---</option>
        <option <%= formData.race && formData.race === 'Human' ? 'selected' : null %>  value="Human">Human</option>
        <option <%= formData.race && formData.race === 'Elf' ? 'selected' : null %> value="Elf">Elf</option>
        <option <%= formData.race && formData.race === 'Dwarf' ? 'selected' : null %> value="Dwarf">Dwarf</option>
    </select>
  </div>

  <div class="form-group">
    <label for="class">Class:</label>
    <select id="classDrop" name="class" class="form-control">
        <option value="">---Select Class---</option>
        <option <%= formData.class && formData.class ==='Fighter' ? 'selected' : null %>  value="Fighter">Fighter</option>
        <option <%= formData.class && formData.class === 'Mage' ? 'selected' : null %> value="Mage">Mage</option>
        <option <%= formData.class && formData.class === 'Ranger' ? 'selected' : null %> value="Ranger">Ranger</option>
    </select>
  </div>

  <div class="form-group">
    <label for="origin">Origin:</label>
    <select name="origin" class="form-control">
        <option value="">---Select Origin---</option>
        <option <%= formData.origin && formData.origin === 'Hero' ? 'selected' : null %>  value="Hero">Hero</option>
        <option <%= formData.origin && formData.origin === 'Scholar' ? 'selected' : null %> value="Scholar">Scholar</option>
        <option <%= formData.origin && formData.origin === 'Criminal' ? 'selected' : null %> value="Criminal">Criminal</option>
    </select>
  </div>

  <hr>
  <h3>Stats</h3>
  <hr>
  <!-- forgive my gratuitous use of &nbsp;, my css skils are weak :( -->
  <div class="stats" style="padding-left: 15%; padding-top: 2%; padding-bottom: 2%;">
    &nbsp;&nbsp;&nbsp;
    <label for="str">STR:</label>
    <input class="str" type="number" name="str" max="20" value="<%= formData.str %>">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="int">INT:</label>
    <input class="int" type="number" name="int" max="20" value="<%= formData.int %>">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="dex">DEX:</label>
    <input class="dex" type="number" name="dex" max="20" value="<%= formData.dex %>">
    <br>
    <br>
    &nbsp;
    <label for="con">CON:</label>
    <input class="con" type="number" name="con" max="20" value="<%= formData.con %>">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="cha">CHA:</label>
    <input class="cha" type="number" name="cha" max="20" value="<%= formData.cha %>">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="luc">LUC:</label>
    <input class="luc" type="number" name="luc" max="20" value="<%= formData.luc %>">
  </div>
  <br>
  <div style="width: 8%; margin: 0 auto;">
    <button class="btn btn-danger" type="button" id="roll">Roll Stats</button>
  </div>
  <br>
  <hr>
  <h3>Skills/Equipment</h3>
  <hr>
 
  <div class="form-group">
    <label for="mainSkill">Main Skill:</label>
    <select id="mainSkillSelect" name="mainSkill" class="form-control">
      <option value="">---Select Skill---</option>
      <optgroup label="Fighter Skills">
        <option <%= formData.mainSkill && formData.mainSkill === 'Slash' ? 'selected' : null %> value="Slash">Slash</option>
        <option <%= formData.mainSkill && formData.mainSkill === 'Shield Bash' ? 'selected' : null %> value="Shield Bash">Shield Bash</option>
      </optgroup>
      <optgroup label="Mage Skills">
        <option <%= formData.mainSkill && formData.mainSkill === 'Fire Ball' ? 'selected' : null %> value="Fire Ball">Fire Ball</option>
        <option <%= formData.mainSkill && formData.mainSkill === 'Ice Blast' ? 'selected' : null %> value="Ice Blast">Ice Blast</option>
      </optgroup>
      <optgroup label="Ranger Skills">
        <option <%= formData.mainSkill && formData.mainSkill === 'Backstab' ? 'selected' : null %> value="Backstab">Backstab</option>
        <option <%= formData.mainSkill && formData.mainSkill === 'Multishot' ? 'selected' : null %> value="Multishot">Multishot</option>
      </optgroup> 
    </select>
  </div>

  
  <div class="form-group">
    <label for="secSkill">Secondary Skill:</label>
    <select id="secSkillSelect" name="secSkill" class="form-control">
      <option value="">---Select Skill---</option>
      <optgroup label="Fighter Skills">
        <option <%= formData.secSkill && formData.secSkill === 'Defend' ? 'selected' : null %> value="Defend">Defend</option>
        <option <%= formData.secSkill && formData.secSkill === 'Provoke' ? 'selected' : null %> value="Provoke">Provoke</option>
      </optgroup>
      <optgroup label="Mage Skills">
        <option <%= formData.secSkill && formData.secSkill === 'Detect Magic' ? 'selected' : null %> value="Detect Magic">Detect Magic</option>
        <option <%= formData.secSkill && formData.secSkill === 'Heal' ? 'selected' : null %> value="Heal">Heal</option>
      </optgroup>
      <optgroup label="Ranger Skills">
        <option <%= formData.secSkill && formData.secSkill === 'Steal' ? 'selected' : null %> value="Steal">Steal</option>
        <option <%= formData.secSkill && formData.secSkill === 'Sneak' ? 'selected' : null %> value="Sneak">Sneak</option>
      </optgroup> 
    </select>
  </div>

  <div class="form-group">
    <label for="weapon">Weapon:</label>
    <select id="weaponSelect" name="weapon" class="form-control">
      <option value="">---Select Weapon---</option>
      <optgroup label="Fighter Weapons">
        <option <%= formData.weapon && formData.weapon === 'Sword and Shield' ? 'selected' : null %> value="Sword and Shield">Sword and Shield</option>
        <option <%= formData.weapon && formData.weapon === 'Two-Handed Axe' ? 'selected' : null %> value="Two-Handed Axe">Two-Handed Axe</option>
      </optgroup>
      <optgroup label="Mage Weapons">
        <option <%= formData.weapon && formData.weapon === 'Staff' ? 'selected' : null %> value="Staff">Staff</option>
        <option <%= formData.weapon && formData.weapon === 'Wand' ? 'selected' : null %> value="Wand">Wand</option>
      </optgroup>
      <optgroup label="Ranger Weapons">
        <option <%= formData.weapon && formData.weapon === 'Bow' ? 'selected' : null %> value="Bow">Bow</option>
        <option <%= formData.weapon && formData.weapon === 'Daggers' ? 'selected' : null %> value="Daggers">Daggers</option>
      </optgroup>
    </select>
  </div>

  <div class="form-group">
    <label for="armor">Armor:</label>
    <select id="armorSelect" name="armor" class="form-control">
      <option value="">---Select Armor---</option>
      <optgroup label="Figher Armor">
        <option <%= formData.armor && formData.armor === 'Plate Mail' ? 'selected' : null %> value="Plate Mail">Plate Mail</option>
        <option <%= formData.armor && formData.armor === 'Chain Mail' ? 'selected' : null %> value="Chain Mail">Chain Mail</option>
      </optgroup>
      <optgroup label="Mage Armor">
        <option <%= formData.armor && formData.armor === 'Robe' ? 'selected' : null %> value="Robe">Robe</option>
        <option <%= formData.armor && formData.armor === 'Cloak' ? 'selected' : null %> value="Cloak">Cloak</option>
      </optgroup>
      <optgroup label="Ranger Armor">
        <option <%= formData.armor && formData.armor === 'Leather' ? 'selected' : null %> value="Leather">Leather</option>
        <option <%= formData.armor && formData.armor === 'Scale' ? 'selected' : null %> value="Scale">Scale</option>
      </optgroup>
    </select>
  </div>

  <div class="form-group">
    <label for="story">Story</label>
    <textarea name="story" class="form-control summernote">
        <%= formData.story %> 
    </textarea>
  </div>

  <hr>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

</form>